body{
	background-image: url("../images/background.jpg");
	-webkit-background-size: cover
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: brown;

	font-family: 'Coming Soon', cursive;
	font-weight: bold;
}

.panel-body{
	background-color: white;
}

#currentWordArea{
	background-color: #666666;
	color: #FFF;
}

.panel{
	opacity: .8;
}

.nav{
	opacity: .8;
}

#hangmanSVG{
	width: 45%;
}