body{
	background-image: url("../images/background.jpg");
	-webkit-background-size: cover
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: brown;

	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
}

.panel-body{
	background-color: beige;
}

#currentWordArea{
	background-color: #666666;
	color: ivory;
	letter-spacing: 5px;
}

.panel{
	opacity: .9;
}

#title{
	padding: 15px;
	font-family: 'Arvo'; sans-serif;
	color: ivory;
}

#hangmanSVG{
	width: 25%;
}