body{
	background-image: url("../images/background.jpg");
	-webkit-background-size: cover
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: brown;
}

.panel{
	opacity: .8;
}

.nav{
	opacity: .8;
}

#hangmanSVG{
	width: 45%;
}